*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


#boardGame, #playGame{
  display: none;
} 

/* style formulaire */

#form{
  position: absolute;
  left : 50%;
  top: 50%;
  transform : translate(-50%, -50%);
  padding: 15px;
}

input[type='radio']{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: 2px solid rgb(221, 59, 59);
  transition: 0.2s all linear;
  margin-right: 20px;
  

  position: relative;
  top: 4px;
}

input[type='radio']:checked {
  
    border: 6px solid rgb(230, 164, 42);
    
  }



#form h2 {
  text-align: center;
  letter-spacing: 9px;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  font-weight: lighter;
}

#player1, #player2{
  border-radius: 20px;
  border-bottom: 3px solid rgb(221, 59, 59);
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 15px;
  
  
}

#player2{
  border-bottom: 3px solid blue;
}


/* suppression focus*/
input:focus{
  outline: none;
}


#submitBtn{
  padding: 10px;
  border-radius: 18px;
  border: 1px solid rgb(62, 177, 62);
}





table{
  width: 700px;
  height: 600px;
  background-color: rgb(62, 177, 62);
  margin-left: 5%;
  margin-top: 2%;
  box-shadow: 0px 4px 20px rgba(11, 167, 45, 0.19);
}


/* tailles cases*/
td{
  width: 40px;
  height: 38px;
  border-style: groove;
  max-width: 40px;
  max-height: 38px;
  
  
}


/* cases MT*/
.redCase{
  background-color: rgb(221, 59, 59);
  text-align: center;
  
}

/* cases LD*/
.blueCase{
  background-color:rgb(57, 207, 195);
  text-align: center;
  
  
  
}





/* cases MD*/
.orangeCase{
  background-color: rgb(230, 164, 42);
  text-align: center;
}

/* cases LT*/
.bluebCase{
  background-color: rgb(47, 47, 173);
  text-align: center;
  
}

#star{
  background-color: rgb(212, 212, 19);
}

#playGame{
  width: 700px;
  height: 600px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
}

h1 {
  text-align: center;
}

#containPioche, #easel {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#player, #pioche, #playerEasel, #btns {
  margin-top: 2%;
  padding: 10px;
  
}


/* style du mode joueur */

#players{
  list-style: none;
  border-top: 1px solid rgb(62, 177, 62);
  border-bottom: 1px solid rgb(62, 177, 62);
  
  
}

#players li {
  padding: 6px;
  margin: 12px;
  border-left: 3px solid rgb(62, 177, 62);
}


/* style pioche*/ 

#containPioche{
    border-top: 1px solid rgb(57, 207, 195);
    border-bottom: 1px solid rgb(57, 207, 195);
    padding: 12px;
    
}



/* style Pioche */

/* style resultat pioche*/
#resultPioche{
  border-top: 2px solid rgb(57, 207, 195);
  border-bottom: 2px solid rgb(57, 207, 195);
  border-radius: 30px;
  padding: 4px;
  color: rgb(57, 207, 195);
}

#resultPioche:hover{
  border: 2px solid beige;
  color: beige;
  background-color: rgb(57, 207, 195);
  transition: 1s;
}


 /* style bouton pioche*/
#btnPioche{
  padding: 20px;
  border-radius: 30px;
  border:none;
  width: 200px;
  background-color: rgb(57, 207, 195);
  color: beige;
  font-size: large;
  font-style: oblique;
  font-weight: bold;
  cursor: pointer;
}

#btnPioche:hover{
  background-color: white;
  color: rgb(57, 207, 195);
  border-bottom: 2px dashed rgb(57, 207, 195);
  border-top: 2px dashed rgb(57, 207, 195);
  transition: 0.5s;
}


/* style du chevalet */

/* style lettres*/
.easelli{
  width: 45px;
  height: 38px;
  list-style: none;
  background-color: rgb(223, 182, 81);
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: groove;
  margin-left: 15px;
  z-index: 1;
  

 
}




#playerEasel{
  
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ulEasel{
  border-radius: 20px;
  box-shadow: 0px 4px 2px rgba(151, 121, 44, 0.548);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 12px;
  padding-bottom: 2px;
  

}

/* style des boutons valider et recommencer */


#btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#btns button{
  padding: 12px;
  border-radius: 8px;
}

#btn1{
  width: 120px;
  border: none;
  color: beige;
  background-color:rgb(47, 47, 173);
  font-weight: bold;
  cursor: pointer;
}

#btn2{
  border: none;
  color: beige;
  background-color: rgb(221, 59, 59);
  font-weight: bold;
  cursor: pointer;
  font-style: oblique;
}

